<!-- About page partial -->
<img src="/images/mattPictureGundam.jpg">
<p><br>Matthew Idos Delamasa <br>
That is my full name! My favourite subject is linear algebra <br>
and my favourite of modern technology is the NLP in language translation AI!<br>
Check out my <a href="/images/matthewDelamasaResume.pdf">Resume!</a>
</p>
