<!-- contact page partial -->

<!-- Forms for contact submission -->
<p>Send me a message!</p>
<form action="/action_page.php">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" placeholder="ex. Matthew"><br>

    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" placeholder="ex. Delamasa"><br>

    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" placeholder="ex. matt@gmail.com"><br>

    <label for="message">Message:</label><br>
    <textarea id="Message" rows="4" cols="50" placeholder="Write something nice or constructive!"></textarea>    
    <br><br>

    <input type="submit" value="Submit">
  </form> 