 <!-- footer page partial -->
 <h6>Matthew Delamasa -- 301160223 -- Centennial College</h6>
 <script src="jquery/dist/jquery.slim.min.js"></script>
 <script src="bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="javascripts/app.js"></script>
</body>
</html>