<!-- Home page partial -->

<p>Hello! My name is Matthew Delamasa and I am a student learning how to program! <br>
I value my education as well as family and friends! I hope you enjoy my small project! <br>
Why don't you learn more <a href="/about">about</a> me? <br>
Or <a href="/projects">projects</a> I am working on!
</p>