<!-- Project page partial -->

<p>If you haven't noticed <br>
this is my current project using Express<br>
and Node.js!
</p>
<img src="/images/project1.png">
<p><br> I am also very excited to be learning Python!<br>
here is a snippet of me testing the BFS algorithm<br>
on the Spyder IDE.
</p>
<img src="/images/bfs2.png">
<p><br>Last but not least a couple of my classmates and I<br>
are fleshing out and idea for an app implementing AI into<br>
plant care!
</p>
<img src="/images/project3.png">
